HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Project Security ###
web/src/main/resources/application.properties
persistence/src/main/java/com/bueno/persistence/ConnectionFactory.java

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/.DS_Store
src/main/.DS_Store
src/main/resources/.DS_Store
/cmds.txt
/.volume/**
